{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Le titre du cours
{% endblock %}

{% block body %}
<h1>Le titre du cours</h1>
    {# todo: afficher les infos du cours #}
{% endblock %}

